# Lecture 12: Aliasing and While Loops

### Jeannie Albrecht and Shikha Singh

Today, we will discuss the following:
  * Discuss mutability and aliasing in Python
  * Take a detour to discuss while loops
  * If we have time, start a new immutable sequence:  tuples

## Value vs Identity 

* An objects identity never changes in Python once it has been created.  You can think of it as the objectâ€™s address in memory.
* On the other hand, the value of some objects can change.  
* Objects whose values can change are called **mutable**; objects whose values cannot change are called **immutable**


* The `is` operator compares the identity of two objects, and the `==` operator compares the value (contents) of an object
* The `id()` function returns an integer representing its identity

### Ints, Strings, Floats are Immutable

In [1]:
num = 5

In [2]:
id(num)

4334385584

In [3]:
num = num + 1

In [4]:
id(num)

4334385616

In [5]:
word = "Williams"

In [6]:
college = word

In [7]:
word == college

True

In [8]:
print(id(word), id(college))

4378046256 4378046256

In [9]:
word is college

True

In [10]:
word = "Wellesley"

In [11]:
print(id(word), id(college))

4378073712 4378046256

In [12]:
word is college

False

### All Sequence Operations Return New Sequences

In [13]:
name = "gryffindor"

In [14]:
id(name)

4377909744

In [15]:
name = name[4:8]

In [16]:
id(name)

4377908400

In [17]:
word = 'Hello World!'

In [18]:
word.lower() # returns new string!

'hello world!'

In [19]:
word # does not change

'Hello World!'

In [20]:
a = [1, 2, 3]

In [21]:
id(a)

4378094272

In [22]:
a = a[:]

In [23]:
id(a) # slicing a list returns a new list!

4378107392

## Lists are Mutable

In [24]:
myList = [1, 2, 3]

In [25]:
id(myList)

4378131648

In [26]:
myList.append(4)

In [27]:
id(myList)

4378131648

In [28]:
list1 = [1, 2, 3]
list2 = list1

In [29]:
list1 is list2

True

In [30]:
list1.append(4)

In [31]:
list2

[1, 2, 3, 4]

In [32]:
list1 = [1, 2, 3]
list2 = list1
myList = [1, 2, 3]

In [33]:
# same values?
myList == list1 == list2

True

In [34]:
# same identities?
myList is list1

False

## Understanding Aliasing 

Let us try out some examples that illustrate how aliasing manifests itself in Python.

In [35]:
nums = [23, 19]
words = ['hello', 'world']
mixed = [12, nums, 'nice', words]

In [36]:
words.append('sky')

In [37]:
mixed

[12, [23, 19], 'nice', ['hello', 'world', 'sky']]

In [38]:
mixed[1].append(27)

In [39]:
nums

[23, 19, 27]

In [40]:
mixed

[12, [23, 19, 27], 'nice', ['hello', 'world', 'sky']]

In [41]:
def foo(someList):
    someList.append('*')
    
    
newList = ['#']
bar = foo(newList)

In [42]:
newList

['#', '*']

In [43]:
someList # will this work?

NameError: name 'someList' is not defined

In [44]:
def foo(someList):
    print(id(someList)) # same id
    someList.append('*')
    
    
newList = ['#']
print(id(newList)) # same id
bar = foo(newList)

4378105152
4378105152

## [Detour] While loops:  A New Iteration Mechanism


* `for` loops iterate over a pre-determined sequence and stop at the end of the sequence
* On the other hand, `while` loops are useful when we don't know in advance when to stop
* A while loop will keep iterating until the boolean condition in the parentheses is True and will halt if the condition fails to hold (is False)

In [46]:
prompt = 'Please enter a name (type quit to exit): '
name = input(prompt)

while (name.lower() != 'quit'):
    print('Hi,', name)
    name = input(prompt)
print('Goodbye')

Please enter a name (type quit to exit): Shikha
Hi, Shikha
Please enter a name (type quit to exit): Jeannie
Hi, Jeannie
Please enter a name (type quit to exit): Lida
Hi, Lida
Please enter a name (type quit to exit): Quit
Goodbye

In [47]:
def printHalves(n):
    while n > 0: 
        print(n)
        n = n//2

In [48]:
printHalves(100)

100
50
25
12
6
3
1