# Lecture 13: Tuples and Sorting

### Jeannie Albrecht and Shikha Singh

Today, we will discuss the following:
  * A new immutable sequence:  Tuples
  * Sorting with `key` and `lambda` sorting

## New Immutable Sequence:  Tuples

* Tuples are an immutable sequence of values separated by commas and enclosed within parentheses ()
* Tuples support any sequence operations that donâ€™t involve mutation: e.g., `len()`, indexing, slicing, concatenation, sorted function, etc
* Tuples support simple and nifty assignment syntax, which makes them really convenient

In [1]:
# string tuple
names = ('Shikha', 'Jeannie', 'Kelly', 'Lida')

# num tuple
primes = (2, 3, 5, 7, 11)

# singleton
num = (5,)

# parens are optional
values = 5, 6

# empty tuple
emp = ()

In [2]:
type(values)

tuple

### Tuples as a Sequence

Like strings, tuples support sequence operations and methods that are immutable.  See examples below.

In [3]:
nameTuple = ('Shikha', 'Jeannie', 'Kelly')

In [4]:
len(nameTuple)

3

In [5]:
nameTuple[2]

'Kelly'

In [6]:
nameTuple[2] = 'Lida' # will this work?

TypeError: 'tuple' object does not support item assignment

In [7]:
nameTuple + ('Lida', ) # concatenation returns a new sequence

('Shikha', 'Jeannie', 'Kelly', 'Lida')

In [8]:
nameTuple * 2 # what will this do?

('Shikha', 'Jeannie', 'Kelly', 'Shikha', 'Jeannie', 'Kelly')

In [9]:
numTuple = (1, 1, 2, 3, 5, 8, 13)

In [10]:
numTuple[3:6]

(3, 5, 8)

In [11]:
numTuple[::-1]

(13, 8, 5, 3, 2, 1, 1)

In [12]:
colors = ('red', 'blue', 'orange', 'white', 'black')

In [13]:
'green' not in colors

True

In [14]:
'Red' in colors

False

In [15]:
# can iterate over like any other sequence
for c in colors:
    print(c)

red
blue
orange
white
black

## Multiple Assignments and Sequence Unpacking with Tuples


Tuples are very useful for:
   * multiple assigments in a single line. 
   * simple sequence unpacking.
   * for returning multiple values from functions.

In [16]:
a, b = 4, 5

In [17]:
b, a = a, b # what does this do?

In [18]:
a, b

(5, 4)

In [19]:
a, b, c = (1, 2, 3)

In [20]:
print(a, b, c)

1 2 3

In [21]:
a, b = 1, 2, 3 # will this work?

ValueError: too many values to unpack (expected 2)

In [22]:
studentInfo = ['Harry Potter', 11, 'Gryffindor']

In [23]:
name, age, house = studentInfo
# short hand for three separate assignments
# name = studentInfo[0];  age = studentInfo[1];  house = studentInfo[2]

In [24]:
print(name, age, house)

Harry Potter 11 Gryffindor

In [25]:
# multiple return values as a tuple
def arithmetic(num1, num2):
    '''Takes two numbers and returns the sum and product'''
    return num1 + num2, num1 * num2

In [26]:
arithmetic(10, 2)

(12, 20)

In [27]:
type(arithmetic(3, 4))

tuple

## Tuples and Enumeration


Python's built-in function `enumerate` takes an iterable sequence `seq` as input and returns an enumerate object, which is essentially a `tuple` of the values (`index`, `seq[index]`) for the given sequence.  Typically, `enumerate` is used to iterate over a sequence and its indices directly.

In [28]:
seasons = ['Spring', 'Summer', 'Fall', 'Winter']

In [29]:
type(enumerate(seasons))

enumerate

In [30]:
list(enumerate(seasons))

[(0, 'Spring'), (1, 'Summer'), (2, 'Fall'), (3, 'Winter')]

In [31]:
seasons = ['Spring', 'Summer', 'Fall', 'Winter']

In [32]:
for index, word in enumerate(seasons):
    print(index, word)

0 Spring
1 Summer
2 Fall
3 Winter

In [33]:
word = "Hakuna Matata"
for index, char in enumerate(word):
    print(index, char)

0 H
1 a
2 k
3 u
4 n
5 a
6
7 M
8 a
9 t
10 a
11 t
12 a

## Conversion between Sequences

We can covert between `str`, `list` and `tuple` types by using the corresponding functions.

In [34]:
word = "Williamstown"

In [35]:
charList = list(word)

In [36]:
charList

['W', 'i', 'l', 'l', 'i', 'a', 'm', 's', 't', 'o', 'w', 'n']

In [37]:
charTuple = tuple(charList)

In [38]:
charTuple

('W', 'i', 'l', 'l', 'i', 'a', 'm', 's', 't', 'o', 'w', 'n')

In [39]:
list((1, 2, 3, 4, 5)) # tuple to list

[1, 2, 3, 4, 5]

In [40]:
numRange = range(len(word))

In [41]:
list(numRange)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [42]:
str(list(numRange))

'[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]'

In [43]:
str(('hello', 'world'))

"('hello', 'world')"

## Review Sorting

Recall the `sorted` function that takes a sequence and returns a new sorted sequence as a `list`.

By default,Â `sorted`Â sorts the sequence in **ascending order (for numbers)** and **alphabetical (dictionary) order** for strings.

Furthermore, strings are sorted based on their ASCII value:  special characters come before capital letters, which come before lower-case letters.

**Note:** `sorted` does not alter the sequence it is called on.  And it returns always returns a `list`.

In [44]:
nums = (42, -20, 13, 10, 0, 11, 18)
sorted(nums)

[-20, 0, 10, 11, 13, 18, 42]

In [45]:
letters = ('a', 'c', 'e', 'p', 'z')
sorted(letters)

['a', 'c', 'e', 'p', 'z']

In [46]:
# what will this print?
print(sorted("*hello! world!*"))

[' ', '!', '!', '*', '*', 'd', 'e', 'h', 'l', 'l', 'l', 'o', 'o', 'r', 'w']

In [47]:
''.join(sorted("*hello! world!*"))

' !!**dehllloorw'

## Sorting Tuples and More

Recall the `sorted` function that takes a sequence and returns a new sorted sequence as a `list`.

By default, `sorted` function on a sequence containing tuples has the following behavior:   
   * Sorts tuples by first item of each tuple     
   * If there is a tie (e.g., two tuples have the same first item), it sorts them by comparing their second item, so on.    
    
This sorting behavior is pretty standard and is referred to as **lexigraphical sorting**.

We can change this default sorting behavior of the sorted function.

Today, we will see different ways we can accomplish this.

In [48]:
fruits = [(12, 'apples'), (5, 'kiwis'), (4, 'bananas'), (27, 'grapes')]
sorted(fruits)

[(4, 'bananas'), (5, 'kiwis'), (12, 'apples'), (27, 'grapes')]

In [49]:
pairs = [(4, 5), (0, 2), (12, 1), (11, 3)]
sorted(pairs)

[(0, 2), (4, 5), (11, 3), (12, 1)]

In [50]:
triples = [(1, 2, 3), (1, 3, 2), (2, 2, 1), (1, 2, 1)]
sorted(triples)

[(1, 2, 1), (1, 2, 3), (1, 3, 2), (2, 2, 1)]

In [51]:
characters = [(8, 'a', '$'), (7, 'c', '@'),
           (7, 'b', '+'), (8, 'a', '!')] 

sorted(characters)

[(7, 'b', '+'), (7, 'c', '@'), (8, 'a', '!'), (8, 'a', '$')]

In [52]:
sorted((4,5,1,2))

[1, 2, 4, 5]

## Changing the Default Sorting Behavior


We can tell Python how to sort and override the default sorting behavior.  To do so, let us explore the `sorted` function and its optional arguments.

In [53]:
help(sorted)

Help on built-in function sorted in module builtins:

sorted(iterable, /, *, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customize the sort order, and the
    reverse flag can be set to request the result in descending order.

###  Soring using `reverse`

In [54]:
sorted([8, 2, 3, 1, 3, 1, 2], reverse=True)

[8, 3, 3, 2, 2, 1, 1]

In [55]:
sorted(['a', 'c', 'e', 'p', 'z'], reverse=True)

['z', 'p', 'e', 'c', 'a']

In [56]:
fruits = [(12, 'apples'), (5, 'kiwis'), (4, 'bananas'), (27, 'grapes')]
sorted(fruits, reverse=True)

[(27, 'grapes'), (12, 'apples'), (5, 'kiwis'), (4, 'bananas')]

###  Soring using `key` function


**Motivation:**  Suppose we have a list of tuples, that we want to sort by something other than the first item.

For example: 

* Consider a list of tuples, where the first item is a course name, second item is the cap, and third item is the term.
* Say we want to sort these courses by their capacity in descending order:  courses with higher capacity should come first.

We can accomplish this by supplying the `sorted` function with a `key` function that tells it how to compare the tuples to each other.

In [57]:
courses = [('CS134', 74, 'Fall'), ('CS136', 60, 'Fall'),
           ('AFR206', 30, 'Spring'), ('ECON233', 30, 'Spring'),
           ('MUS112', 10), ('STAT200', 50), ('PSYC 201', 90)]

In [58]:
sorted(courses) # how will it get sorted?

[('AFR206', 30, 'Spring'),
 ('CS134', 74, 'Fall'),
 ('CS136', 60, 'Fall'),
 ('ECON233', 30, 'Spring'),
 ('MUS112', 10),
 ('PSYC 201', 90),
 ('STAT200', 50)]

In [59]:
courses = [('CS134', 74, 'Fall'), ('CS136', 60, 'Fall'),
           ('AFR206', 30, 'Spring'), ('ECON233', 30, 'Fall'),
           ('MUS112', 10, 'Fall'), ('STAT200', 50, 'Spring'), 
           ('PSYC201', 50, 'Fall'), ('MATH110', 74, 'Spring')]

In [60]:
def capacity(courseTuple):
    '''Takes a sequence and returns item at index 1'''
    return courseTuple[1]

In [61]:
# can tell sorted to sort by capacity instead
sorted(courses, key=capacity)

[('MUS112', 10, 'Fall'),
 ('AFR206', 30, 'Spring'),
 ('ECON233', 30, 'Fall'),
 ('STAT200', 50, 'Spring'),
 ('PSYC201', 50, 'Fall'),
 ('CS136', 60, 'Fall'),
 ('CS134', 74, 'Fall'),
 ('MATH110', 74, 'Spring')]

In [62]:
sorted(courses, key=capacity, reverse=True)

[('CS134', 74, 'Fall'),
 ('MATH110', 74, 'Spring'),
 ('CS136', 60, 'Fall'),
 ('STAT200', 50, 'Spring'),
 ('PSYC201', 50, 'Fall'),
 ('AFR206', 30, 'Spring'),
 ('ECON233', 30, 'Fall'),
 ('MUS112', 10, 'Fall')]

###  Stable Sorting

Python's sorting functions are stable, which means that items that are equal according to the sorting key have the same relative order as in the original sequence.  To see an example, let us sort the course tuples by the term they are offered by defining a new key function.

In [63]:
courses = [('CS134', 74, 'Fall'), ('CS136', 60, 'Fall'),
           ('AFR206', 30, 'Spring'), ('ECON233', 30, 'Fall'),
           ('MUS112', 10, 'Fall'), ('STAT200', 50, 'Spring'), 
           ('PSYC201', 50, 'Fall'), ('MATH110', 74, 'Spring')]

In [64]:
def term(courseTuple):
    '''Takes a sequence and returns item at index 2'''
    return courseTuple[2]

In [65]:
sorted(courses, key=term)

[('CS134', 74, 'Fall'),
 ('CS136', 60, 'Fall'),
 ('ECON233', 30, 'Fall'),
 ('MUS112', 10, 'Fall'),
 ('PSYC201', 50, 'Fall'),
 ('AFR206', 30, 'Spring'),
 ('STAT200', 50, 'Spring'),
 ('MATH110', 74, 'Spring')]

In [66]:
def termAndCap(courseTuple):
    return courseTuple[2], courseTuple[1]

In [67]:
sorted(courses, key=termAndCap)

[('MUS112', 10, 'Fall'),
 ('ECON233', 30, 'Fall'),
 ('PSYC201', 50, 'Fall'),
 ('CS136', 60, 'Fall'),
 ('CS134', 74, 'Fall'),
 ('AFR206', 30, 'Spring'),
 ('STAT200', 50, 'Spring'),
 ('MATH110', 74, 'Spring')]

## Lambda Notation


It is often inconvenient or unnecessary to define a named function just in order to pass it as the functional argument to higher-order functions like sorted.

Python provides lambda notation for creating anonymous functions (a function with no name that cannot be called elsewhere) that can be used directly in functions like sorted

In [68]:
def square(x):
    return x*x

In [69]:
square(5)

25

In [70]:
(lambda x: x*x)(5)

25

In [71]:
def first(seq):
    return seq[0]

first('zorp')

'z'

In [72]:
(lambda seq: seq[0])('zorp')

'z'

In [73]:
type(lambda x: x*x)

function

In [74]:
# back to our example
courses = [('CS134', 74, 'Fall'), ('CS136', 60, 'Fall'),
           ('AFR206', 30, 'Spring'), ('ECON233', 30, 'Fall'),
           ('MUS112', 10, 'Fall'), ('STAT200', 50, 'Spring'), 
           ('PSYC201', 50, 'Fall'), ('MATH110', 74, 'Spring')]

In [75]:
# sort by capacity
sorted(courses, key=lambda course: course[1])

[('MUS112', 10, 'Fall'),
 ('AFR206', 30, 'Spring'),
 ('ECON233', 30, 'Fall'),
 ('STAT200', 50, 'Spring'),
 ('PSYC201', 50, 'Fall'),
 ('CS136', 60, 'Fall'),
 ('CS134', 74, 'Fall'),
 ('MATH110', 74, 'Spring')]

In [76]:
# sort by term followed by capacity
sorted(courses, key=lambda c: (c[2], c[1]))

[('MUS112', 10, 'Fall'),
 ('ECON233', 30, 'Fall'),
 ('PSYC201', 50, 'Fall'),
 ('CS136', 60, 'Fall'),
 ('CS134', 74, 'Fall'),
 ('AFR206', 30, 'Spring'),
 ('STAT200', 50, 'Spring'),
 ('MATH110', 74, 'Spring')]